<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dobble Social Network: Photos Page</title>

    {% include 'importCss.html' %}

  </head>

  <body>

  <header>
   {% include 'header.html' %}
  </header>

    {% include 'navbar.html' %}

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="page-header">Photos</h1>
            <ul class="photos gallery-parent">
              <li><a href="../static/img/sample1.jpg" data-hover="tooltip" data-placement="top" title="image" data-gallery="mygallery" data-parent=".gallery-parent" data-title="title" data-footer="this is a footer" data-toggle="lightbox"><img src="../static/img/sample1.jpg" class="img-thumbnail" alt=""></a></li>
              <li><a href="../static/img/sample2.jpg" data-hover="tooltip" data-placement="top" title="image" data-gallery="mygallery" data-parent=".gallery-parent" data-title="title" data-footer="this is a footer" data-toggle="lightbox"><img src="../static/img/sample2.jpg" class="img-thumbnail" alt=""></a></li>
              <li><a href="../static/img/sample3.jpg" data-hover="tooltip" data-placement="top" title="image" data-gallery="mygallery" data-parent=".gallery-parent" data-title="title" data-footer="this is a footer" data-toggle="lightbox"><img src="../static/img/sample3.jpg" class="img-thumbnail" alt=""></a></li>
              <li><a href="../static/img/sample4.jpg" data-hover="tooltip" data-placement="top" title="image" data-gallery="mygallery" data-parent=".gallery-parent" data-title="title" data-footer="this is a footer" data-toggle="lightbox"><img src="../static/img/sample4.jpg" class="img-thumbnail" alt=""></a></li>
              <li><a href="../static/img/sample5.jpg" data-hover="tooltip" data-placement="top" title="image" data-gallery="mygallery" data-parent=".gallery-parent" data-title="title" data-footer="this is a footer" data-toggle="lightbox"><img src="../static/img/sample5.jpg" class="img-thumbnail" alt=""></a></li>
              <li><a href="../static/img/sample6.jpg" data-hover="tooltip" data-placement="top" title="image" data-gallery="mygallery" data-parent=".gallery-parent" data-title="title" data-footer="this is a footer" data-toggle="lightbox"><img src="../static/img/sample6.jpg" class="img-thumbnail" alt=""></a></li>
            </ul>
          </div>
          <div class="col-md-4">
              {% include 'SideBar.html' %}
          </div>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}
    <script src="../static/js/ekko-lightbox.js"></script>
    <script>
      $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
      }); 
      $(function () {
      $('[data-hover="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
