<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CESI - Profil</title>

    {% include 'importCss.html' %}
  </head>

  <body>
  <header>
      {% include 'header.html' %}
  </header>

  {% include 'navbar.html' %}

    <section>
       {% for p in personne %}
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="profile">
              <h1 class="page-header">{{p.nom}} {{p.prenom}}</h1>
              <div class="row">
                <div class="col-md-4">
                  <img src="{{p.photo}}" class="img-thumbnail" alt="">
                </div>
                <div class="col-md-8">
                  <ul>
                    <li><strong>Nom/Prénom:</strong> {{p.nom}} {{p.prenom}}</li>
                    <li><strong>Statut:</strong> {{p.status}}</li>
                    <li><strong>Date de naissance:</strong> {{p.datenaissance}}</li>
                    <li><strong>Adresse:</strong> {{p.adresse}}</li>
                    <li><strong>Telephone:</strong> {{p.tel}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
            <div class="col-md-4">
                <div class="panel panel-default friends">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ma promotion</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                            <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <a class="btn btn-primary" href="#">Voir tous les élèves</a>
                    </div>
                </div>
                <div class="panel panel-default groups">
                    <div class="panel-heading">
                        <h3 class="panel-title">Les promotions</h3>
                    </div>
                    <div class="panel-body">
                        <div class="group-item">
                            <img src="../static/img/group.png" alt="">
                            <h4><a href="#" class="">Promotion n°1</a></h4>
                            <p>RIL 2018-2020</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="group-item">
                            <img src="../static/img/group.png" alt="">
                            <h4><a href="#" class="">Promotion n°2</a></h4>
                            <p>RISR 2019-2021</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="group-item">
                            <img src="../static/img/group.png" alt="">
                            <h4><a href="#" class="">Promotion n°3</a></h4>
                            <p>RISR 2020-2022</p>
                        </div>
                        <div class="clearfix"></div>
                        <a href="#" class="btn btn-primary">Voir toutes les promotions</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}
  </body>
</html>
