<div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">Ma promotion</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                  <li><a href="profile.html" class="thumbnail"><img src="../static/img/user.png" alt=""></a></li>
                </ul>
                <div class="clearfix"></div>
                <a class="btn btn-primary" href="#">Voir tous les élèves</a>
              </div>
            </div>
            <div class="panel panel-default groups">
              <div class="panel-heading">
                <h3 class="panel-title">Les promotions</h3>
              </div>
              <div class="panel-body">
                <div class="group-item">
                  <img src="../static/img/group.png" alt="">
                  <h4><a href="#" class="">Promotion n°1</a></h4>
                  <p>RIL 2018-2020</p>
                </div>
                <div class="clearfix"></div>
                <div class="group-item">
                  <img src="../static/img/group.png" alt="">
                  <h4><a href="#" class="">Promotion n°2</a></h4>
                  <p>RISR 2019-2021</p>
                </div>
                <div class="clearfix"></div>
                <div class="group-item">
                  <img src="../static/img/group.png" alt="">
                  <h4><a href="#" class="">Promotion n°3</a></h4>
                  <p>RISR 2020-2022</p>
                </div>
                <div class="clearfix"></div>
                <a href="#" class="btn btn-primary">Voir toutes les promotions</a>
              </div>
            </div>
          </div>