
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CESI - Trombinoscope</title>

    {% include 'importCss.html' %}
  </head>

  <body>

  <header>
    {% include 'header.html' %}
  </header>

  {% include 'navbar.html' %}

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="members">
              <h1 class="page-header">Trombinoscope</h1>

              <div class="row member-row">
                <div class="col-md-3">
                  <img src="../static/img/user.png" class="img-thumbnail" alt="">
                  <div class="text-center">
                    NOM Prénom
                  </div>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Message</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Voir Profil</a></p>
                </div>
              </div>

              <div class="row member-row">
                <div class="col-md-3">
                  <img src="../static/img/user.png" class="img-thumbnail" alt="">
                  <div class="text-center">
                    NOM Prénom
                  </div>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Message</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Voir Profil</a></p>
                </div>
              </div>

              <div class="row member-row">
                <div class="col-md-3">
                  <img src="../static/img/user.png" class="img-thumbnail" alt="">
                  <div class="text-center">
                    NOM Prénom
                  </div>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Message</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Voir Profil</a></p>
                </div>
              </div>

              <div class="row member-row">
                <div class="col-md-3">
                  <img src="../static/img/user.png" class="img-thumbnail" alt="">
                  <div class="text-center">
                    NOM Prénom
                  </div>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Message</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Voir Profil</a></p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-4">
              {% include 'SideBar.html' %}
          </div>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}
  </body>
</html>
